<!-- blog-list.component.html -->
<div class="blog-container">
  <div class="container">
    <div class="section-box">
      <div data-aos="fade-up" data-aos-duration="1000">
        <h3 class="section-title">
          Blog Posts
        </h3>
      </div>

      <div *ngIf="loading" class="loading">Loading posts...</div>
      
      <div *ngIf="error" class="error">
        Failed to load blog posts. Please try again later.
      </div>

      <div *ngIf="!loading && !error" class="posts-grid-container">
        <div class="posts-grid">
          <div *ngFor="let post of posts" class="post-card" data-aos="fade-up" data-aos-duration="1000">
            <div class ="post-card-image">
              <img class="card-img-top rounded" [src]="post.image || 'holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail'" alt="Card image cap">
            </div>
            <div class="post-content">
              
              <h5 class="post-title">{{ post.title }}</h5>

              <div class="post-description">
                <p>{{ post.summary }}</p>
              </div>
              
              
              <div class="post-footer mt-auto">
                <ul class="post-tags">
                  <li *ngFor="let tag of post.tags">
                    <span class=" badge underline">{{ tag }}</span>
                  </li>
                </ul>
                
                <div class="post-date">
                  <small class="text-muted float-right">{{ post.date | date:'mediumDate' }}</small>
                </div>

                <div class="post-link">
                  <button type="button" class="btn btn-outline-primary" (click)="goToPost(post.id)">Read</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>